Source: eta-gestemas
Section: misc
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), cmake,
               qtbase5-dev (>=5.3),
               libframe-dev (>=2.5),
               libxtst-dev,
               libx11-dev,
               libxext-dev,
               libxi-dev
Standards-Version: 3.9.6
Homepage: https://git.pardus.org.tr

Package: eta-gestemas
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, eta-check-optictouch
Description: Multitouch Gesture Recognition Application
 Fully configurable multitouch gesture recognition
 application for GNU/Linux distros.
